<div class="grid grid-cols-3 gap-6">
  <div class="col-span-3 sm:col-span-2">
    <%= image_tag "https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8chld=M|0&chl=#{URI.encode_www_form_component(@user.one_time_password.provisioning_uri(@user.email))}" %>
  </div>

  <div class="col-span-3 sm:col-span-2">
    <%= form.label :one_time_password_attempt, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :one_time_password_attempt, value: @user.one_time_password.now, autocomplete: "one-time-code", class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block mt-1 w-full rounded-none rounded-md sm:text-sm border-gray-300"  %>
  </div>
</div>
