<%= render layout: "layouts/barebone", locals: {} do %>
  <%= render partial: "partials/header" %>
  <%= render partial: "account/nav" %>

  <div class="main-page">
    <%= yield %>
  </div>

<% end %>
