<div class="shadow sm:rounded-md sm:overflow-hidden">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <div>
      <h3 class="text-lg font-medium leading-6 text-gray-900">Third-Party Sign On (OAuth)</h3>
      <p class="mt-1 text-sm text-gray-600">
        This information will be displayed publicly so be careful what you share.
      </p>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <div class="col-span-3 sm:col-span-2">
        <div class="mt-4 space-x-2">
          <ul class="space-y-4">
            <li class="flex items-center justify-between text-sm">
              <div class="w-0 flex-1 flex items-center">
                <!-- Heroicon name: solid/paper-clip -->
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                <span class="ml-2 flex-1 font-medium text-gray-700 w-0 truncate">Github</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <div class="w-10 h-5 flex items-center bg-blue-500 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                  <div class="bg-white w-4 h-4 rounded-full shadow-md transform translate-x-4"></div>
                </div>
              </div>
            </li>
            <li class="flex items-center justify-between text-sm">
              <div class="w-0 flex-1 flex items-center">
                <!-- Heroicon name: solid/paper-clip -->
                <svg width="20" height="20" fill="currentColor" class="text-gray-400">
                  <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"></path>
                </svg>
                <span class="ml-2 flex-1 font-medium text-gray-700 w-0 truncate">Twitter</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <div class="w-10 h-5 flex items-center bg-blue-500 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                  <div class="bg-white w-4 h-4 rounded-full shadow-md transform translate-x-4"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
