/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.main-page {
  background-color: white;
  width: 60em;
  margin: 2em auto 0;
  padding: 2em;
}
