.sign-in-form {
  background: white;
  padding: 1.5em;
  margin: 5em auto;
  max-width: 20em;
  color: #666;

  legend {
    font-size: 1.6em;
  }

  .forget-password {
    float: right;
    margin: 0.5em 0;
    text-decoration: none;
  }
}
