<div class="shadow sm:rounded-md sm:overflow-hidden">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <div>
      <h3 class="text-lg font-medium leading-6 text-gray-900">Sessions</h3>
      <p class="mt-1 text-sm text-gray-600">
        This information will be displayed publicly so be careful what you share.
      </p>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <div class="col-span-3 sm:col-span-2">
      </div>

    </div>
  </div>
</div>
