<div class="grid grid-cols-3 gap-6">
  <div class="col-span-3 sm:col-span-2">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, required: true, class: "focus:ring-blue-500 focus:border-blue-500 flex-1 block mt-1 w-full rounded-none rounded-md sm:text-sm border-gray-300"  %>

    <%= form.hidden_field :options_json %>
    <%= form.hidden_field :credential_json %>
  </div>
</div>
