<div class="pure-u-1 pure-menu pure-menu-horizontal account-menu">
<ul class="pure-menu-list">
    <li class="pure-menu-item <%= "pure-menu-selected" if current_page?(account_profile_path) %>">
    <a href="<%= account_profile_path %>" class="pure-menu-link">Profile</a>
    </li>
    <li class="pure-menu-item <%= "pure-menu-selected" if current_page?(account_password_path) %>">
    <a href="<%= account_password_path %>" class="pure-menu-link">Password</a>
    </li>
</ul>
</div>
